
.fut-player-card {
	position: relative;
	width: 150px;
	height: 242px;
	background-image: url(./card-bg-emerald.png);
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: 2;
	-webkit-transition: 200ms ease-in;
	-o-transition: 200ms ease-in;
	transition: 200ms ease-in;
}