@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  .pause-animation {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  --brand-100: #eafbf5;
  --brand-200: #c3efe0;
  --brand-300: #aaecd6;
  --brand-400: #68f3c5;
  --brand-500: #7ae1bf;
  --brand-600: #67bfa0;
  --brand-700: #5aa68b;
  --brand-800: #1c7a5b;
  --brand-900: #104936;
}

html.theme-world-cup {
  --brand-100: #edf9ff;
  --brand-200: #f7f6ff;
  --brand-300: #aaecd6;
  --brand-400: #fdf4fc;
  --brand-500: #8fd6ff;
  --brand-600: #76b8cc;
  --brand-700: #67a0b1;
  --brand-800: #2d7583;
  --brand-900: #1a464f;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

body.world-cup {
  background: url('/images/world-cup-2026-bg.jpeg');
  backdrop-filter: grayscale(35%) blur(8px);
  background-position: top center;
  background-color: rgba(127, 127, 127, 0.2);
  background-blend-mode: darken;
}

.card {
	position: relative;
	width: 150px;
	height: 242px;
  perspective: 1000px;
	background-color: transparent;
}

.card-flip .card-inner {
	transform: rotateY(180deg);
}

.card-inner {
	position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.player-card .card-front {
	background-image: url(/images/card-bg-emerald.png);
}
.player-card .card-back {
	background-image: url(/images/card-back-bg-emerald.png);
}

.bench-card .card-front {
	background-image: url(/images/card-bg-bench.png);
}
.bench-card .card-back {
	background-image: url(/images/card-back-bg-bench.png);
}

.card-front,
.card-back {
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
	transform: rotateY(180deg);
}

.hide-scroll::-webkit-scrollbar  {
	 /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.screen-height-considering-tabs {
  height: calc(100svh - 2.4rem);
}
